<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CobView.CobDb" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CobView.CobDb>
            <setting name="SourceRoot" serializeAs="String">
                <value/>
            </setting>
            <setting name="TandemDnsName" serializeAs="String">
                <value>tandem8</value>
            </setting>
            <setting name="FtpPort" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="FtpCommand" serializeAs="String">
                <value/>
            </setting>
            <setting name="OssGuardianVolumePath" serializeAs="String">
                <value>/G</value>
            </setting>
            <setting name="FtpUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SrcVolumes" serializeAs="String">
                <value/>
            </setting>
        </CobView.CobDb>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
