<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DOR.Core.Properties.Core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="DOR.Core.Settings" type="System.Configuration.ClientSettingsSection, System" requirePermission="false"/>
      <section name="DOR.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
	  <DOR.Core.Properties.Core>
    <setting name="DOR_Utility_Usps_USPSAddressStandardization" serializeAs="String">
     <value>http://dorappsprod/USPSAddressStandardization/USPSAddressStandardization.asmx</value>
    </setting>
   </DOR.Core.Properties.Core>
	  <DOR.Core.Properties.Settings>
      <setting name="DOR_Utility_Usps_USPSAddressStandardization" serializeAs="String">
        <value>http://dorappsprod/USPSAddressStandardization/USPSAddressStandardization.asmx</value>
      </setting>
    </DOR.Core.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="DOR_Utility_Usps_USPSAddressStandardization" value="http://dorappsprod/USPSAddressStandardization/USPSAddressStandardization.asmx"/>
    <add key="RATE_SERVICE_SC_URL" value="http://rateservice.dor.wa.gov"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
