<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DOR.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
		<DOR.Core.Properties.Settings>
            <setting name="DOR_Utility_Usps_USPSAddressStandardization" serializeAs="String">
                <value>http://dorappsprod/USPSAddressStandardization/USPSAddressStandardization.asmx</value>
            </setting>
        </DOR.Core.Properties.Settings>
    </applicationSettings>

	<appSettings>
		<add key="DOR_Utility_Usps_USPSAddressStandardization"
				 value="http://dorappsprod/USPSAddressStandardization/USPSAddressStandardization.asmx" />
		<add key="TANDEM_URL" value="http://tandem8:1027/"/>
	</appSettings>
	
</configuration>