<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CobEntities" connectionString="metadata=res://*/CobModel.csdl|res://*/CobModel.ssdl|res://*/CobModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dortestsql\dev;Initial Catalog=WFTC;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
